* {
  margin: 15;
  padding: 15;
}

body {
  font-family: noto sans, sans-serif;
  line-height: 1.5;
  color: #304055;
  background-color: #cad8e4;
  padding: 0;
  margin: 0;
}/* Main Section */

#navbar {
    color: #304055;
    background-color: #cad8e4;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 0;
}

#header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #304055;
    text-align: center;
  }
  
.header h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    }

.header p {
    font-size: 1.5rem;
    margin: 20px 20px;
  }
  
#cta-button {
    padding: 10px 20px;
    background: #304055;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
  }
  
#cta-button:hover {
    background: #5d7e87;
  }
  
  /* Portfolio Section */
#portfolio {
    padding: 50px 50px;
    text-align: center;
  }
  
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 100px;
  }
  
.portfolio-item {
    border-radius: 20px;
    transition: transform 0.5s;
  }
.portfolio-item img {
    width: 100%;
    border-radius: 10px;
  }
  
.portfolio-item:hover {
    transform: scale(1.05);
  }

  /* Call to Action Section */
#contact {
  padding: 30px 20px;
  text-align: center;
  background: #304055;
  color: #f3eeea;
}

#contact h2 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.cta-button1 {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  background: #5d7e87;
  color: #f3eeea;
}
.cta-button1:hover {
  background: #f3eeea;
  color: #5d7e87;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #5d7e87;
  color: #f3eeea;
}
a
.social-links {
  color: #f3eeea;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links:hover {
  color: #304055;
}