/* variables */
:root {
  --primary-color: #304055;
  --secondary-color: #5d7e87;
  --background-color: #ffffff;
  --light-color: #fdfdfd;
  --font-family: 'Poppins', normal;
  --h1-font-size: 5rem;
  --h1-font-weight: 900;
  --h2-font-size: 2rem;
  --h2-font-weight: 450;
  --body-font-size: 1.5rem;
  --body-font-weight: 200;
  --spacer: 20px;
  --border-radius: 20px;
  --box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.08);
  --position: relative;
  --font-size: clamp(20px, 3wv, 400px);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 3;
  color: var(--primary-color);
  overflow-x: hidden;
  background-color: var(--background-color);
}

/* about */
.logobtn {
  position: fixed;
  top: 20px; 
  right: 20px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
  border: none;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  cursor: pointer;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logobtn:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: none;
}

.modal-content {
  position: relative;
  width: 50vw;
  max-width: 100vw;
  height: 50vh;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 50px;
  border: none;
}

.modal-content h2 {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  line-height: 1;
  font-weight: 900;
  text-align: top;
  font-size: clamp(20px, 3wv, 400px);
}

.modal-content p {
  margin-top: 50px;
  font-size: clamp(20px, 3wv, 400px);
  color: var(--primary-color);
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.close-btn:hover {
  color: var(--light-color);
  background: var(--secondary-color);
  transform:  scale(1.1);
  box-shadow: var(--box-shadow);
}

/* navbar */
#navbar {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
  font-weight: 900;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: calc(var(--spacer) * 1.5) 0;
  position: var(--position);
  width: 100%;
  z-index: 10;
}

/* header */
#header {
  height: 40vh;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
}

.h-title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1.8rem, 10vw, 5rem);
  font-display: swap;
  line-height: 1;
  font-weight: 900;
  z-index: 2;
  text-shadow: var(--box-shadow);
}

.paragraph {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: clamp(0.8rem, 5vw, 3rem);
  line-height: 1.5;
  margin-bottom: 80px;
}

.paragraph p {
  color: var(--secondary-color);
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  line-height: 1.5;
}

#cta-button {
  font-weight: 200;
  font-size: 1rem;
  padding: 10px 20px;
  background: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 50px;
  color: var(--light-color);
  text-decoration: none;
  border-radius: 20px;
}

#cta-button:hover {
  background: var(--secondary-color);
}

.marquee {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-inner {
  display: flex;
  gap: 50px;
  white-space: nowrap;
  animation: marqueeScroll 20s linear infinite;
}

.marquee-inner span {
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
  font-style: italic;
  font-weight: 200;
  opacity: 50%;
  color: var(--secondary-color);
  display: inline-block;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* swiper */
.swiper-container {
  position: var(--position);
  width: 100vw;
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  z-index: 2;
}

.s-title h2 {
  font-size: var(--h2-font-size);
  font-weight: 200;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
}

.swiper-slide:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

.swiper-slide img {
  width: 100vw; 
  height: auto; 
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-pagination {
  position: absolute;
  bottom: 15px;
  text-align: center;
}

/* portfolio */
#portfolio {
  padding: 50px 0;
  text-align: center;
}

#portfolio .container {
  max-width: 100px;
  margin: 0 auto;
}

.p-title h2 {
  font-size: var(--h2-font-size);
  font-weight: 200;
}

#portfolio .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

#portfolio .col-md-4 {
  max-width: 70%;
  padding: 20px;
  gap: var(--spacer);
}

.portfolio-item img {
  width: 80%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out;
}

.portfolio-item img:hover {
  transform: scale(1.1);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}

.lightbox.zoom {
  transform: scale(1.05);
}

.lightbox-content {
  position: relative;
  width: 95vw;
  max-width: 1000vw;
  height: 90vh;
  background: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.5s ease-in-out;
}

.lightbox-img.zoom {
  transform: scale(1.05);
}

.lightbox-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.lightbox-close-btn:hover {
  color: var(--light-color);
  background: var(--secondary-color);
  transform:  scale(1.1);
  box-shadow: var(--box-shadow);
}

/* call to action */
#contact {
  position: var(--position);
  font-family: 'Poppins', sans-serif;
  padding: calc(var(--spacer) * 2);
  text-align: center;
  background: var(--primary-color);
  color: var(--light-color);
}

#contact h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--spacer);
}

#contact p {
  font-size: var(--body-font-size);
  margin: calc(var(--spacer) * 1.5);
}

.cta-button1 {
  font-weight: 200;
  font-size: 1rem;
  padding: 10px 20px;
  background: var(--secondary-color);
  margin-bottom: 50px;
  color: var(--light-color);
  text-decoration: none;
  border-radius: 20px;
}

.cta-button1:hover {
  background: var(--light-color);
  color: var(--secondary-color);
}

/* footer */
footer {
  font-family: 'Poppins', sans-serif;
  padding: calc(var(--spacer) * 2);
  text-align: center;
  background: var(--secondary-color);
  color: var(--light-color);
}

footer p {
  margin-top: var(--spacer);
}

.social-links a {
  color: var(--light-color);
  text-decoration: none;
  margin: 0 var(--spacer);
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--primary-color);
}
