/* variables */
:root {
  --primary-color: #304055;
  --secondary-color: #5d7e87;
  --background-color: #ffffff;
  --light-color: #fdfdfd;
  --font-family: 'Poppins', normal;
  --h1-font-size: 5rem;
  --h1-font-weight: 900;
  --h2-font-size: 2rem;
  --h2-font-weight: 450;
  --body-font-size: 1.5rem;
  --body-font-weight: 200;
  --spacer: 20px;
  --border-radius: 20px;
  --box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 3;
  color: var(--primary-color);
  overflow-x: hidden;
  background-color: var(--background-color);
}

/* navbar */
#navbar {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
  font-weight: 900;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: calc(var(--spacer) * 1.5) 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* header */
#header {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
}

.h-title h1 {
  font-size: var(--h1-font-size);
  font-display: swap;
  margin-top: var(--spacer);
  line-height: 1;
  font-weight: 900;
}

.h-title p {
  font-size: var(--body-font-size);
  line-height: 1.5;
  margin-bottom: 40px;
}

#cta-button {
  padding: 10px 20px;
  background: var(--primary-color);
  margin-top: calc(var(--spacer) * 1.5);
  color: var(--light-color);
  text-decoration: none;
  border-radius: 20px;
}

#cta-button:hover {
  background: var(--secondary-color);
}

/* swiper */
.swiper-container {
  width: 100vw;
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.s-title h2 {
  font-size: var(--h2-font-size);
  font-weight: 200;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacer); 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.swiper-slide:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

.swiper-slide img {
  width: 100vw; 
  height: auto; 
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-pagination {
  position: absolute;
  bottom: 15px;
  text-align: center;
}

/* portfolio */
#portfolio {
  font-family: 'Poppins', sans-serif;
  margin-top: calc(var(--spacer) * 3);
  padding: var(--spacer) calc(var(--spacer) * 4);
  background-color: var(--background-color);
}

.portfolio {
  padding: var(--spacer) calc(var(--spacer) * 4);
  background-color: var(--background-color);
  margin: 0;
}

.p-title h2 {
  font-size: var(--h2-font-size);
  font-weight: 200;
}

.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);
  justify-content: center;
  padding: var(--spacer) calc(var(--spacer) * 4);
}

#portfolio img {
  width: 100%;
  margin: var(--spacer);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out;
}

#portfolio img:hover {
  transform: scale(1.05);
}

/* Lightbox Styles */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--light-color);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

.lightbox-img {
  margin-left: 40px;
  max-width: 100%;
  max-height: 80vh;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.lightbox-close-btn {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  border: none;
  padding: 10px 5px;
  border-radius: 20px;
  background: var(--primary-color);
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: var(--light-color);
  cursor: pointer;
  font-weight: 200;
}

.lightbox-close-btn:hover {
  color: var(--light-color);
  background: var(--secondary-color);
}

/* call to action */
#contact {
  font-family: 'Poppins', sans-serif;
  margin-top: calc(var(--spacer) * 4);
  padding: calc(var(--spacer) * 2);
  text-align: center;
  background: var(--primary-color);
  color: var(--light-color);
}

#contact h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--spacer);
}

#contact p {
  font-size: var(--body-font-size);
  margin: calc(var(--spacer) * 1.5);
}

.cta-button1 {
  padding: 10px 20px;
  margin: var(--spacer);
  text-decoration: none;
  border-radius: var(--border-radius);
  background: var(--secondary-color);
  color: var(--light-color);
}

.cta-button1:hover {
  background: var(--light-color);
  color: var(--secondary-color);
}

/* footer */
footer {
  font-family: 'Poppins', sans-serif;
  padding: calc(var(--spacer) * 2);
  text-align: center;
  background: var(--secondary-color);
  color: var(--light-color);
}

footer p {
  margin-top: var(--spacer);
}

.social-links a {
  color: var(--light-color);
  text-decoration: none;
  margin: 0 var(--spacer);
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--primary-color);
}

